body {
    background:url(img/JDM.jpg);
    background-size: 1920px 1100px;
    background-attachment: fixed;
}

.video {
    width: 1200px;
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}

.select {
    width: 120px;
    height: 40px;
    border-radius: 10px;
}
