body {
    background:url(img/JDM.jpg);
    background-size: 1920px 1100px;
    background-attachment: fixed;
}

.video {
    width: 1200px;
    display: block;
    margin: 0 auto;
    margin-top: 300px;
}

.select {
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: 1600px;
    }
    .video {
        width: 700px;
        margin-top: 200px;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-size: 1500px 960px;
        background-position: center;
    }
    .video {
        width: 550px;
        margin-top: 300px;
    }
}
