body {
    margin: 0;
    padding: 0;
    background:url(img/JDM.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace, sans-serif;
}

.car-photo {
    width: 400px;
    height: 200px;
    position: relative;
    top: 5px;
    left: -750px;
}

.video {
    width: 746px;
    height: 330px;
    position: relative;
    right: -585px;
    bottom: -1200px;
    padding-bottom: 20px;
}

.card {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    position:relative;
    top: -150px;

    background-color: aqua;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: #9300ff;
}

.card-text {
    font-size: 16px;
}

.card-subtitle {
    font-size: 30px;
    color: blue;
    text-align: center;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 16px;
}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 350px;
        height: 190px;
        top: 5px;
        left: -620px;
    }
    .card {
        width: 450px;
        top: -140px;
    }
    .video {
        width: 700px;
        height: 300px;
        right: -450px;
        bottom: -1275px
    }
}

@media screen and (max-width: 1440px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        left: -550px;
    }
    .video {
        right: -375px;
        bottom: -1260px
    }
}

@media screen and (max-width: 1366px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        left: -520px;
    }
    .card{
        
        top: -150px;
    }
    .video {
        right: -335px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 450px;
        height: 250px;
        top: 5px;
        left: -265px;
    }
    .card {
        width: 700px;
        top: -450px;
    }
    .video {
        width: 950px;
        height: 400px;
        right: -42px;
        bottom: -1785px;
    }
    .card-title {
        font-size: 50px;
    }
    .card-subtitle {
        font-size: 50px;
    }
    .card-text{
        font-size: 27px;
    }
    .card-list {
        font-size: 27px;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        left: -185px;
    }
    .video {
        width: 800px;
        height: 400px;
        right: -8px;
        bottom: -1785px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center;   
    }
    .car-photo{
        width: 300px;
        height: 150px;
        top: 2px;  
        left: -230px; 
    }
    .card {
        width: 450px;
        top: -330px;
    }
    .video {
        width: 700px;
        height: 300px;
        right: -33px;
        bottom: -1185px;
    }
    .card-title {
        font-size: 33px;
    }
    .card-subtitle {
        font-size: 33px;
    }
    .card-text {
        font-size: 17px;
    }
    .card-list {
        font-size: 17px;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo{
        width: 300px;
        height: 150px;
        top: 2px;
        left: -40px;
            
    }
    .card {
        width: 310px;
        top: -195px;
    }
    .video {
        width: 340px;
        height: 160px;
        right: 10px;
        bottom: -1530px;
    }
    .card-title {
        font-size: 33px;
    }
    .card-subtitle {
        font-size: 33px;
    }
    .card-text {
        font-size: 15px;
    }
    .card-list {
        font-size: 17px;
    }
}
