body {
    background:url(img/JDM.jpg)no-repeat;
    background-size: 1920px 1100px;
    background-attachment: fixed;
}

.video {
    width: 746px;
    height: 330px;
    position: relative;
    right: -585px;
    top: 1220px;
    padding-bottom: 20px;
}

.car-photo {
    width: 300px;
    height: 170px;
    position: relative;
    top: 5px;
    right: -785px;
}

.card {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    position:relative;
    top: -330px;

    background-color: aqua;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: #9300ff;
    font-family: Arial;
}

.card-text {
    font-size: 16px;
    font-family: monospace;
}

.card-subtitle {
    font-size: 30px;
    color: blue;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 16px;

}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: 1600px;
    }
    .car-photo {
        width: 300px;
        height: 200px;
        position: relative;
        left: 630px;
    }
    .card {
        width: 470px;
        position:relative;
        top: -270px;
    }
    .video {
        width: 700px;
        height: 270px;
        position: relative;
        right: -430px;
        top: 1330px
    }
}

@media screen and (max-width: 1199px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 630px;
        height: 350px;
        top: 5px;
        left: 220px;
    }
    .card {
        width: 1000px;
        top: -530px;
    }
    .video {
        width: 1045px;
        height: 500px;
        right: -14px;
        top: 1935px;
    }
    .card-title {
        font-size: 50px;
    }
    .card-subtitle {
        font-size: 50px;
    }
    .card-text{
        font-size: 27px;
    }
    .card-list {
        font-size: 27px;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-size: 1500px 960px;
        background-position: center;
    }
    .car-photo {
        width: 250px;
        height: 150px;
        top: 3px;
        left: 155px;
    }
    .card {
        width: 300px;
        top: -290px;
    }
    .video {
        width: 550px;
        height: 270px;
        right: -6px;
        top: 1695px;
    }
}
