body {
    background:url(img/JDM.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace, sans-serif;
}

.video {
    width: 746px;
    height: 330px;
    position: relative;
    right: -585px;
    top: 1235px;
    padding-bottom: 20px;
}

.car-photo {
    width: 300px;
    height: 170px;
    position: relative;
    top: 5px;
    right: -785px;
}

.card {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    position:relative;
    top: -330px;

    background-color: aqua;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 30px;
    text-align: center;
    color: #9300ff;
    font-family: Arial;
}

.card-text {
    font-size: 16px;
}

.card-subtitle {
    font-size: 30px;
    color: blue;
    text-align: center;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 16px;

}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 300px;
        height: 200px;
        left: 630px;
    }
    .card {
        width: 470px; 
        top: -270px;
    }
    .video {
        width: 700px;
        height: 270px;
        right: -430px;
        top: 1330px
    }
}

@media screen and (max-width: 1440px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        left: 565px;
    }
    .video {
        right: -357px;
    }
    }

@media screen and (max-width: 1366px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 320px;
        left: 520px;
    }
    .card {
        top: -295px;
    }
    .video {
        right: -333px;
        top: 1315px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 485px;
        height: 300px;
        top: 5px;
        left: 230px;
    }
    .card {
        width: 830px;
        top: -390px;
    }
    .video {
        width: 990px;
        height: 500px;
        right: -14px;
        top: 1220px;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .card {
       width: 785px;
    }
    .video {
        width: 815px;
        height: 370px;
        top: 2200px;
        right: -3px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center; 
    }
    .car-photo {
        left: 145px;
    }
    .card {
        width: 600px;
    }
    .video {
        width: 650px;
        right: -2px;
        top: 2450px;
    }
.card-title { 
         font-size: 35px; 
     } 
     .card-subtitle { 
         font-size: 35px; 
     } 
     .card-text { 
         font-size: 17px; 
     } 
     .card-list { 
         font-size: 17px; 
     }
}

@media screen and (max-width: 575px) {
    body {
        background-size: cover;
        background-position: center;
    }
    .car-photo {
        width: 300px;
        height: 180px;
        top: 3px;
        left: 35px;
    }
    .card {
        width: 312px;
        top: -180px;
    }
    .video {
        width: 365px;
        height: 160px;
        right: 4px;
        top: 4105px;
    }

    .card-title { 
         font-size: 33px; 
     } 
     .card-subtitle { 
         font-size: 33px; 
     } 
     .card-text { 
         font-size: 15px; 
     } 
     .card-list { 
         font-size: 15px; 
     }
}
