body {
    background:url(img/JDM.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#JDM{
    font-size: 50px;
    position: absolute;
    bottom: 45%;
    right: 45%;
    background: url(img/car.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 100px #ccc;
    border-radius: 10px;
    padding: 30px 100px;
    font-family: Arial;
    text-decoration: none;
    color: chartreuse;
    transition: color 0.3s linear;
}

#JDM:hover {
    color: #ff0000;
}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: cover;
        background-position: center;
    }
    #JDM {
        font-size: 60px;
        right: 40%;
        background-size: cover;
    }
}

@media screen and (max-width: 1440px) {
    body {
        background-size: cover;
        background-position: center;
    }
    #JDM {
        font-size: 50px;
        right: 42%;
    }
}

@media screen and (max-width: 1366px) {
    body {
        background-size: cover;
        background-position: center;
    }
   #JDM {
    right: 40%;
   }
}

@media screen and (max-width: 1024px) {
    body {
        background-size: cover;
        background-position: center;
    }
    #JDM {
        font-size: 50px;
        bottom: 45%;
        right: 36%;
        background-size: cover;
        position: absolute;
    }
}

@media screen and (max-width: 992px) {
    body {
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center;  
    }
    #JDM {
        font-size: 40px;
        bottom: 45%;
        right: 32%;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-size: cover;
        background-position: center;
    }
    #JDM {
        font-size: 40px;
        bottom: 45%;
        right: 27%;
        padding: 10px 50px;
    }
}
