body {
    background:url(img/JDM.jpg)no-repeat;
    background-size: 1920px 1100px;
    background-attachment: fixed;
}

#JDM{
    font-size: 50px;
    position: absolute;
    bottom: 45%;
    right: 45%;
    background: url(img/car.jpg)no-repeat;
    background-size: 310px 150px;
    background-position: center;
    box-shadow: 0 5px 100px #ccc;
    border-radius: 10px;
    padding: 30px 100px;
    font-family: Arial;
    text-decoration: none;     
}

@media screen and (max-width: 1600px) {
    
    body {
        background-size: 1600px;
    }
    #JDM {
        font-size: 40px;
    }
}
